@model IEnumerable<FuncionarioViewModel>

@{
    ViewData["Title"] = "Funcionários";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container b-4">
    <div class="card row overflow-x-auto">
        <div class="col-12">
            <p><h1 class="text-primary"> - Lista de Funcionários</h1></p>
        </div>
        <div class="col text-end pt-1">
            <a asp-action="Create" class="btn btn-outline-primary"><i class="bi bi-clipboard2-plus"></i> Adicionar novo Funcionário</a>
        </div>
        <div class="table-responsive-xxl">
            <table class="table table-striped align-middle table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>CPF</th>
                        <th>Nome</th>
                        <th>Data de Nascimento</th>
                        <th>RG</th>
                        <th>Celular</th>
                        <th>Telefone</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @{
                        var count = 1;
                        foreach (var item in Model)
                        {
                            <tr>
                                <th><font style="vertical-align: inherit;">@count</font></th>
                                <th><font style="vertical-align: inherit;">@item.Cpf</font></th>
                                <th><font style="vertical-align: inherit;">@item.Nome</font></th>
                                <th><font style="vertical-align: inherit;">@item.Data_Nascimento.ToString("dd/MM/yyyy")</font></th>
                                <th><font style="vertical-align: inherit;">@item.Rg</font></th>
                                <th><font style="vertical-align: inherit;">(@item.DDD_Celular) @item.Celular</font></th>
                                <th><font style="vertical-align: inherit;">(@item.DDD_Telefone) @item.Telefone</font></th>
                                <th>
                                    <a asp-action="Update" class="btn btn-outline-success" asp-route-id="@item.Id"><i class="bi bi-person-fill-gear"></i>Editar</a>
                                </th>
                                @if (User.IsInRole("Admin"))
                                {
                                    <th>
                                        <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.Id"><i class="bi bi-trash-fill"></i>Deletar</a>
                                    </th>
                                }
                            </tr>
                            count = count + 1;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>