@model IEnumerable<ProdutosViewModel>

@{
    ViewData["Title"] = "Produtos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container b-4">
    <div class="card row overflow-x-auto">
        <div class="col-12">
            <p><h3 class="text-primary p-3"> Produtos Disponíveis</h3><hr /></p>
            <div class="alert alert-warning" role="alert">
                Clique em detalhar um produto para adicionar a quantidade desejada ao seu carrinho vendas
            </div>
        </div>
        <div class="table-responsive-xxl">
            <table class="table table-striped align-middle table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Marca</th>
                        <th>Quantidade</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @{
                        var count = 1;
                        foreach (var item in Model)
                        {
                            <tr>
                                <th><font style="vertical-align: inherit;">@count</font></th>
                                <th><font style="vertical-align: inherit;">@item.Nome</font></th>
                                <th><font style="vertical-align: inherit;">@item.Marca</font></th>
                                <th>
                                    <font style="vertical-align: inherit;">
                                        @item.Quantidade unidade(s)
                                        @if (@item.Quantidade > 0)
                                        {
                                            <b class="text-success text-end"> - em Estoque</b>
                                        }
                                        else
                                        {
                                            <b class="text-danger text-end">- em Estoque</b>
                                        }
                                    </font>
                                </th>
                                <th>
                                    <a asp-action="Detalhe" class="btn btn-outline-success" asp-route-id="@item.Id_Produto"><i class="bi bi-person-fill-gear"></i> Detalhar</a>
                                </th>
                            </tr>
                            count = count + 1;
                        }
                    }
                </tbody>
            </table>
            <div class="card-header bg-dark text-light ml-0 row">
                <div class="col-12 text-end">
                    <a asp-action="Index" asp-controller="Carrinho" class="btn btn-outline-warning btn-sm"><i class="bi bi-basket2-fill"></i> Visualizar Cesta</a>
                </div>
            </div>
        </div>
    </div>
</div>